<body bgcolor=#F6B915>
<pre>

This is {{ output.ansible_facts['docker_container'].NetworkSettings['IPAddress'] }} webserver. </h1> <br /> 

<h2>Which is automatically launched using Ansible Automated Docker.</h2>

<br /> <br />
<h1> Have a nice Day!! </h1>

</pre>
</body>
